*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#dfe3e8;
    overflow:hidden;
}

.container{
    width:100%;
    height:100vh;
    position:relative;
    background:#dfe3e8;
}

.header{
    width:100%;
    height:80px;
    background:#2f4358;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}

.header h1{
    color:white;
    justify-content:center;
    text-align:center;
    line-height:80px;
    font-size:28px;
    font-weight:bold;
}


.box{
    width:170px;
    height:calc(100vh - 80px);
    background:white;
    position:fixed;
    top:80px;
    left:0;
    border-right:1px solid #cfcfcf;
    padding:18px 15px;
}

.box h2{
    font-size:20px;
    margin-bottom:22px;
    font-weight:bold;
}

.box p{
    font-size:16px;
    margin-bottom:14px;
    cursor:pointer;
}

.box p:hover{
    color:#2f4358;
}

.notes-area{
    position:absolute;
    top:80px;
    left:170px;
    width:calc(100% - 170px);
    height:calc(100vh - 80px);
}

.note{
    width:230px;
    height:180px;
    padding:18px;
    position:absolute;
    box-shadow:0 4px 8px rgba(0,0,0,0.15);
    transition:0.4s;
}

.note:hover{
    transform:scale(1.05);
}

.note h3{
    font-size:18px;
    margin-bottom:18px;
    font-weight:bold;
}

.note p{
    font-size:15px;
    line-height:21px;
}

.note1{
    background:#f7efb7;
    top:40px;
    left:40px;
}

.note2{
    background:#c9e4c5;
    top:60px;
    left:340px;
}

.note3{
    background:#f5d6a3;
    top:80px;
    left:640px;
}

.note4{
    background:#b8d8f8;
    top:320px;
    left:130px;
}

.buttons{
    position:fixed;
    right:20px;
    bottom:15px;
}

.buttons button{
    padding:10px 18px;
    border:none;
    border-radius:5px;
    background:white;
    color:#2f4358;
    font-size:14px;
    margin-left:10px;
    cursor:pointer;
    font-weight:bold;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.buttons button:hover{
    background:#2f4358;
    color:white;
}
