*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
        }
.body{
    background:#f5f5f5;
    }


.container{
    display:flex;
    width:100%;
    height:100vh;
        }

.sidebar{
    width:240px;
    background:white;
    border-right:1px solid #ddd;
    padding:20px;
        }

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:28px;
    font-weight:600;
    margin-bottom:40px;
    }

.logo i{
    color:#2979ff;
    }

.menu{
    display:flex;
    flex-direction:column;
    gap:10px;
    }

.menu-item{
    display:flex;
    align-items:center;
    gap:15px;
    padding:14px;
    border-radius:10px;
    color:#555;
    font-size:16px;
}

.menu-item:hover{
    background:#eef5ff;
        }

.active{
    background:#dceeff;
    color:#2979ff;
    font-weight:600;
        }

.submenu{
    margin-left:45px;
    margin-top:5px;
    color:#777;
    line-height:40px;
    font-size:15px;
        }

.bottom-menu{
    margin-top:80px;
        }

.logout{
    color:#d84c4c;
        }

.main{
    flex:1;
    padding:20px;
    }

 
.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
        }

.search{
    width:380px;
    height:45px;
    border:1px solid #ddd;
    border-radius:10px;
    padding-left:18px;
    font-size:15px;
    }

.profile{
    display:flex;
    align-items:center;
    gap:20px;
        }

.profile-box{
    display:flex;
    align-items:center;
    gap:10px;
        }

 .profile-box img{
    width:70px;
    height:70px;
    border-radius:50%;
        }

 .profile-text h4{
    font-size:15px;
        }

.profile-text p{
     font-size:12px;
    color:#777;
        }

.welcome h1{
    font-size:38px;
    color:#333;
    margin-bottom:8px;
        }

.welcome p{
    color:#666;
    margin-bottom:25px;
        }

.dashboard{
    display:flex;
    gap:20px;
        }   

.summary{
    flex:3;
    background:white;
    border-radius:12px;
    padding:20px;
        }

.summary h2{
    margin-bottom:20px;
    color:#333;
        }

.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    }

.card{
    padding:20px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
     }

.blue{
    background:#eef7ff;
     }

.yellow{
     background:#fff9e8;
        }

.green{
     background:#eefcf3;
    }

.pink{
     background:#fff1f3;
    }

.card-left{
     display:flex;
    gap:15px;
        }

.icon{
    width:45px;
    height:45px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    }

.blue .icon{
    background:#d7ebff;
    color:#2979ff;
        }

.yellow .icon{
    background:#fff1c7;
    color:#f0a500;
        }

.green .icon{
    background:#d8f7e5;
    color:#16a34a;
        }

.pink .icon{
     background:#ffd8dd;
    color:#ff4d6d;
        }

.card-text h3{
    font-size:18px;
    margin-bottom:5px;
    color:#444;
        }

.card-text h4{
     font-size:24px;
     margin-bottom:5px;
    color:#222;
        }

.card-text p{
    color:#777;
    font-size:14px;
        }

.dots{
    color:#777;
    }

.apply-button{
    margin-top:25px;
    background:#2979ff;
    color:white;
     border:none;
     padding:14px 30px;
    border-radius:8px;
    font-size:16px;
        }

.status{
    flex:1.2;
    background:white;
    border-radius:12px;
    padding:20px;
        }

.status h2{
     margin-bottom:20px;
    color:#333;
        }

 .status-box{
    display:flex;
    gap:15px;
    padding:18px;
    border-radius:10px;
    margin-bottom:15px;
        }

.status-green{
    background:#eefcf3;
        }

.status-blue{
    background:#eef7ff;
        }

 .status-yellow{
    background:#fff8e7;
        }

.status-icon{
    width:40px;
    height:40px;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
        }

.status-green .status-icon{
    background:#d8f7e5;
    color:#16a34a;
        }

.status-blue .status-icon{
    background:#d7ebff;
    color:#2979ff;
        }

.status-yellow .status-icon{
    background:#fff1c7;
    color:#f0a500;
        }

.status-text h4{
    font-size:15px;
    color:#777;
        }

.status-text p{
    font-size:17px;
    margin-top:5px;
    color:#333;
        }

.quick{
    background:white;
    margin-top:25px;
    border-radius:12px;
    padding:20px;
        }

.quick h2{
    margin-bottom:20px;
    color:#333;
        }

.quick-cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
        }

.quick-card{
    padding:20px;
    border-radius:10px;
     display:flex;
    gap:15px;
    align-items:center;
        }

.quick-blue{
     background:#eef7ff;
        }

.quick-green{
     background:#eefcf3;
        }

.quick-yellow{
     background:#fff9e8;
        }

.quick-card i{
    font-size:24px;
        }

.quick-blue i{
    color:#2979ff;
        }

.quick-green i{
     color:#16a34a;
        }

.quick-yellow i{
    color:#f0a500;
        }

.quick-card h4{
    color:#333;
    margin-bottom:5px;
        }

.quick-card p{
    color:#666;
    font-size:14px;
        }
